 div{
    border: 1px solid rgba(41, 9, 223, 0.801);
    width: 60%;
    margin: 0 auto;
    }
fieldset{
    margin-bottom: 12px;
    border: 1px solid rgba(229, 255, 0, 0.753);
    }
legend{
    background-color: aqua;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    }
img{
    border-radius: 10%;
    margin-bottom: 12px;
    margin-right: 30px;
    float: right;
    }
span{
    font-weight: bold;
    }